body{
  background-color: #CCC;
}
.cookie{
  display: block;
  margin: 50px auto;
  height: 300px;
  width: 350px;
}
.cookie img{
  height: 300px;
  width: 350px;
}
.cookie img:hover{
  height: 310px;
  width: 360px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
section{
  margin: 5px 15px 5px 15px;
  padding: 20px;
}
.popup{
  display: none;
  position: absolute;
  width: 300px;
  font-size: 18px;
  background: white;
  border: 2px black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  top: -170px;

}
.my_btn{
  padding: 20px 40px;
  margin-left: 70px;
  width: 200px;
}
.cost{
  font-size: 30px;
  padding-left: 80px;
  padding-right: 50px;
  width: 70px;
}
.avatar{
  height: 100px;
  width: 100px;
}
.makers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  margin: auto;
}
.score_board{
  text-align: center;
  font-size: 30px;
}
